#databox {
    border: solid 1px black;
    display: flex;
    flex-direction:column;
}

#databox > div {
    border: solid 1px black;
}

.data_line {
    display: flex;
    flex-direction: row;
}